{# templates/test/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un Post{% endblock %}

{% block content %}
    <h1>Créer un Post</h1>

    {# Formulaire de création du post #}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageFilename) }}  {# Afficher le champ pour sélectionner l'image #}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

    {# Affichage de tous les posts existants #}
    <h2>Liste des posts</h2>
    {% if posts is not empty %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    {% if post.imageFilename %}
                        <img src="{{ asset('uploads/images/' ~ post.imageFilename) }}" alt="Image">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun post trouvé.</p>
    {% endif %}
{% endblock %}

